* {
  box-sizing: border-box;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}


.mypage-navber {
  width: 100%;
  height: 50px;
  .mypage-contents {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    text-align: center;
    &__edit-user{
      text-decoration: none;
      color: white;
      background-color: skyblue;
      width: 45%;
      border: 1px solid white;
      border-radius: 15px;
    }
    &__new-group{
      text-decoration: none;
      color: white;
      background-color: skyblue;
      width: 45%;
      border: 1px solid white;
      border-radius: 15px;
    }
  }
}

.consultants-index {
  height: 900px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 80px;
  .consultants-title{
    margin-left: 80px;
    font-size: 30px;
    border-bottom: 2px solid #dee7ec;
    font-size: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
  }
  .consultant {
    margin: 0 80px 0 80px;
    width: calc(100%-160px);
    opacity: 0.9;
    .group {
      background-color: white;
      border: 2px solid #dee7ec;
      padding: 20px 20px 5px 20px;
      margin-bottom: 30px;
      &__name{
        font-size: 25px;
        text-decoration: none;
        margin-left: 5px;
      }
      &__member{
        text-align: left;
        margin-left: 15px;
       
      }
      .group-delete {
        text-align: right;
        font-size: 15px;
        text-decoration: none;
        opacity: 1.0;
        .group-delet-button {
          text-decoration: none;
          background-color: pink;
          border: 1px solid black;
          padding: 3px;
          border-radius: 20px;
        }
      }
    }
  }
}
